@model ToDoListApp.ViewModels.TasksAndCategoryViewModel;

@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Category</title>
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <form asp-action="CreateCategory" class="d-flex flex-column mx-auto" style="width:300px; text-align:center; font-family:Oswald; text-transform:uppercase;">
        <label asp-for="Category.CategoryName">Name of Category</label>
        <input type="text" asp-for="Category.CategoryName" />
        <input type="submit" class="btn btn-primary mt-5" value="send" />
    </form>
</body>
</html>