@model ToDoListApp.ViewModels.CategoriesIndexViewModel;

@{
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Category</title>
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" type="text/css" asp-append-version="true"/>
</head>
<body>
    <form asp-action="CreateCategory" asp-controller="Category" method ="post"class="d-flex flex-column mx-auto" style="width:300px; text-align:center; font-family:Oswald; text-transform:uppercase;">
        <label asp-for="CreateCategoryViewModel.CategoryName">Name of Category</label>
        <input type="text" asp-for="CreateCategoryViewModel.CategoryName" />
        <input type="submit" class="btn btn-primary mt-5" value="send" />
    </form>
    <div class="mx-auto" style="width:100%; text-transform:uppercase; text-align:center;">
        <span asp-validation-for="CreateCategoryViewModel.CategoryName" class="text-danger mx-auto" style="width:100px; text-align:center;"></span>
    </div>
    <h2 class="mx-auto" style="width: 300px; font-family: Oswald; text-align: center;">Categories:</h2>
    @foreach (
    var item in Model.Categories)
    {
<div class="d-flex flex-row mx-auto" style="width: 800px; border: 1px solid black; text-transform: uppercase; font-family: Oswald; ">
    <div style="width:55%" class="p-3 text-center">
        <p>@item.CategoryName</p>
    </div>
    <div style="width:30%" class="p-3 text-center">
        <form asp-action="DeleteCategory" asp-controller="Category">
            <input type="text" name="Id" hidden value="@item.CategoryId" />
            <input type="submit" value="DeleteCategory" class="btn btn-danger" />
        </form>
    </div>
    <div style="width:15%" class="p-3 text-center">
        <form asp-action="EditCategory" asp-controller="Category" method="get">
            <input type="text" name="categoryId" value="@item.CategoryId" hidden/>
            <input type="submit" value="Edit" class="btn btn-primary"/>
        </form>
    </div>
</div>
    }
</body>
</html>